<!DOCTYPE html>
<html>
    <head>
        <title>Mafia City</title>
        <link rel="stylesheet" type="text/css" href="gameStyle.css">
        <link rel="icon" href="favicon.ico">
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Abel|Bellota+Text&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Economica|Lobster+Two&display=swap" rel="stylesheet">
        <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>

    </head>

    <script src="https://cdn.jsdelivr.net/npm/@joeattardi/emoji-button@2.12.1/dist/index.min.js"></script>
	<!-- <script src= " emoji-button-2.12.1.min.js"></script> -->
	<script>
         	/* import EmojiButton from "@joeattardi/emoji-button"; */
    
		window.addEventListener("DOMContentLoaded", function() {
			var ebutton = document.querySelector("#emoji-button");
			var picker = new EmojiButton({ 
				theme: "auto"
            
				/*  style: "twemoji"  */
			} );

			picker.on("emoji", function(emoji) {
				
                var text= document.querySelector("#inp1");
               text.value+=emoji; 
        
			});

			ebutton.addEventListener("click", function() {
            
				picker.togglePicker(ebutton);
			});
		});
	</script>
<!-- /* const text = document.querySelector("#inp-1");
const newEl = document.createElement("span");
newEl.innerHTML = emoji;
text.appendChild(newEl); */
/* var form = document.forms[0];
 var text = form.querySelector('#inp1');
text.value+= emoji;*/ -->

    <body>
        <div class='header'>Mafia City
            
        </div>
        <div class="theme-switch-wrapper">
            <label class="theme-switch" for="checkbox">
                <input type="checkbox" id="checkbox">
                <div class="slider round"></div>
            </label>
        </div>   
        <div class='container'>
            <div class='messagesDiv'>
                <ul id='messages'>
                </ul>
            </div>
        </div>
        <div class="divider"></div>
        <div class='container2'>
            <button id='leaveRoom'>Leave Room</button>
            <div id="title">Gang Members Online:</div>
            <ul id='members'>
                <!-- <div class="em"><button id="emoji-button">
                    <img  class="emoji"
                       draggable="false"
                       alt="😎"
                       src="https://twemoji.maxcdn.com/v/12.1.5/72x72/1f60e.png"
                   /> 
                   </button> </div> -->
        </div>
        <div class="emo"><button id="emoji-button">
            <img  class="emoji"
               draggable="false"
               alt="😎"
               src="https://twemoji.maxcdn.com/v/12.1.5/72x72/1f60e.png"
           /> 
           </button> </div>
    
        <form id='form1'>
            <div class='blocks'>
                <div class='block1'> 
                   <!--   <button id="emoji-button">
                        <img  class="emoji"
                           draggable="false"
                           alt="😎"
                           src="https://twemoji.maxcdn.com/v/12.1.5/72x72/1f60e.png"
                       /> 
                       </button>  -->
                    <input id='inp1'autocomplete='off'  spellcheck="false"  required placeholder="       Type here"></input> 
                    </div>
                <div class='block2'> <button type='submit' id='btn1'>send</button> </div>
            </div>
        </form>
        <div id='overlay'></div>


        <script src="/socket.io/socket.io.js"></script>
        <script src='gameScript.js'></script>

        
    </body>
</html>